<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration   
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!--此属性控制是否启用延迟加载功能，是全局配置，默认值为false，要想在项目中启用延迟加载功能， 需要将这个属性设置为true。 -->
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<typeAliases>
		<!--这里给实体类取别名，方便在mapper配置文件中使用 -->
		<package name="cn.bdqn.entity" />
	</typeAliases>
</configuration>  