<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bdqn.dao.ProviderDao">
	<select id="findProviderbyCode" resultType="Provider">
		SELECT * FROM smbms_provider
		WHERE proCode=#{proCode}
	</select>
	<select id="findProviderBypage" resultType="Provider">
		SELECT * FROM smbms_provider where 1=1
		<if test="proCode!=null">
			AND proCode LIKE CONCAT('%',#{proCode},'%')
		</if>
		<if test="proName!=null">
			AND proName LIKE CONCAT('%',#{proName},'%')
		</if>
		LIMIT #{from},#{offset}
	</select>
	<select id="findTotalCount" resultType="int">
		SELECT COUNT(id) FROM smbms_provider where 1=1
		<if test="proCode!=null">
			AND proCode LIKE CONCAT('%',#{proCode},'%')
		</if>
		<if test="proName!=null">
			AND proName LIKE CONCAT('%',#{proName},'%')
		</if>
	</select>
	<insert id="addProvider" parameterType="Provider">
		INSERT INTO
		smbms_provider(proCode,proName,proDesc,
		proContact,proPhone,proAddress,proFax,createdBy,
		creationDate,modifyDate,modifyBy) VALUES
		(#{proCode},#{proName},#{proDesc},#{proContact},
		#{proPhone},#{proAddress},#{proFax},1,
		#{creationDate},#{modifyDate},#{modifyBy})
	</insert>
	<select id="findProviderById" resultType="Provider">
		SELECT * FROM
		smbms_provider
		WHERE
		id=#{id}
	</select>
	<update id="updateProvider" parameterType="Provider">
		UPDATE smbms_provider SET
		proCode=#{proCode},proName=#{proName},proContact=#{proContact},
		proPhone=#{proPhone},proAddress=#{proAddress},proFax=#{proFax},proDesc=#{proDesc},modifyBy=1,modifyDate=#{modifyDate}
		WHERE id=#{id}
	</update>
	<delete id="delProvider" parameterType="int">
		DELETE FROM smbms_provider WHERE
		id=#{id}
	</delete>
	<select id="findAll" resultType="Provider">
		SELECT * FROM smbms_provider
	</select>
</mapper>